VITE_SUPABASE_URL=https://llncocvoxkvgnszaddov.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImxsbmNvY3ZveGt2Z25zemFkZG92Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3Mzk5OTI4MzAsImV4cCI6MjA1NTU2ODgzMH0.XsLUhfahV-Xbv7f9PeyQHSFeBSYS0A8MnJMHGfRNQWc